/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #E33736;
}

.parallax-container {
    min-height: 250px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        /*    position: absolute;*/
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 15px;
}

.icon-block .material-icons {
    font-size: inherit;
    line-height: 70px;
    background: rgba(0, 0, 0, 0.09);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

footer.page-footer {
    margin: 0;
}

.title-table {
    background: rgba(187, 187, 187, 0.32) !important;
}

.td-es {
    background: rgba(221, 221, 221, 0.4) !important;
}

.efeito-parallax {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.9) !important;
    z-index: 9;
}


/* PADROES */

.m0 {
    margin: 0 !important;
}

.m10 {
    margin: 10px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.p0 {
    padding: 0 !important;
}

.p10 {
    padding: 10px !important;
}

.p20 {
    padding: 20px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.w100 {
    width: 100% !important;
}

.h100 {
    height: 100% !important;
}

.op8 {
    opacity: 0.8;
}

.op9 {
    opacity: 0.98;
}

.radius {
    border-radius: 3px !important;
}
.tag-ativo {
    border: 1px solid;
    color: #186F1B;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 3px;
    background: #E5FFE6;
    font-weight: 600;
}
.tag-pendente {
    border: 1px solid;
    color: #9C1010;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 3px;
    background: #FFF2F2;
    font-weight: 600;
}

#index-banner h1 img {
    width: 100%;
    max-width: 400px;
}

.menu-user {
    text-align: center;
}

.menu-user h2 {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}

.menu-user h2 i {
    height: inherit;
    line-height: inherit;
    font-size: initial;
    display: initial;
}

.menu-user p {
    margin: 0;
    line-height: 20px;
    font-size: 12px;
}

.menu-user p span {
    background: #1976D2;
    display: inline-block;
    padding: 2px 15px;
    border-radius: 20px;
}

.menu-user a.btn {
    height: 30px;
    line-height: 30px;
}

.menu-user a.email-user {
    line-height: 20px;
}

.menu-user span.email-user i {
    width: inherit !important;
    height: inherit !important;
    background: transparent !important;
    line-height: 20px !important;
    font-size: large;
    margin-right: 5px !important;
}

.menu-user a.darken-3 i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    background: rgba(0, 0, 0, 0.13);
    line-height: 50px;
    margin-right: 10px;
    text-align: center;
}

.menu-user a {
    color: #fff;
    line-height: initial;
    height: initial;
    border-radius: 0;
}

.img-user {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.img-user img {
    width: 100%;
    height: auto;
    float: left;
}

#nav-mobile li a i {
    float: left;
    line-height: inherit !important;
    height: inherit !important;
    font-size: 1.2em;
    margin-right: 10px;
}

.divider2 {
    height: 1px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
}

.classificacao {
    float: left;
    color: #1F7C5D;
    margin: 0;
}

.classificacao li {
    float: left;
    border-bottom: 1px dotted #ccc;
    width: 100%;
}

.classificacao h5 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
}


/*
.classificacao li:last-child {
    border-bottom:none;
}
*/

.classificacao li h1 {
    float: left;
    font-size: 15px;
    text-transform: none;
    margin: 10px 0;
}

.classificacao li h2 {
    float: right;
    font-size: 15px;
    text-align: right;
    font-weight: bold;
    text-transform: none;
    margin: 10px 0;
}

.clubes div {
    width: 10%;
    float: left;
}

.clubes div img {
    width: 100%;
}

.box-memoria h1 {
    font-size: 30px;
}

.box-memoria p {
    background: rgba(255, 255, 255, 0.06);
    color: white;
    padding: 10px;
    font-size: 16px;
}

.classificacao-title {
    font-size: 1.4em;
    padding-bottom: 0 !important;
    font-weight: 600;
    color: #004D40;
}

.caption.right-align > h5 {
    float: right;
    max-width: 300px;
}

.title-tc13 {
    min-height: inherit;
}

.rolagem {
    overflow: auto;
}

.s4 > div.box-links > a > img,
.s6 > div.box-links > a > img {
    width: 100%;
}

.div-clipping {
    float: left;
    border-bottom: 1px dotted #999;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.div-clipping img {
    max-width: 100%;
}

.div-clipping h1 {
    margin: 20px 0;
    font-size: 1.5em;
}

.div-clipping:hover {
    box-shadow: 0 0 20px #ccc;
}

.h1-ganhadores {
    text-align: center;
    float: left;
    background: #E0E0E0;
    width: 100%;
    color: #333;
    padding: 15px 0;
    margin: 0 0 10px 0;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.list-ganhadores {
    float: left;
    width: 100%;
    margin: 0;
}

.list-ganhadores li {
    float: left;
    width: 300px;
    margin: 5px;
    background: #EEE;
    border-radius: 5px;
}

.list-ganhadores li p {
    float: left;
    max-width: 225px;
    padding: 10px;
    background: none;
    margin: 0;
    color: #666;
}

.box-ganhadores {
    display: inline-block;
    width: 100%;
}

.box-ganhadores p {
    line-height: 0;
}

.onde-votar h1 {
    font-size: 20px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 20px;
}

.box-gols img {
    width: 100%;
    height: auto;
}

.box-gols p {
    margin: 0;
    padding: 0;
}

.file-path-wrapper p {
    margin: 0;
    padding: 0;
    color: #888;
    line-height: 16px;
    font-size: 12px;
}

.file-path-wrapper p a {
    font-weight: 600;
}

figure.col {
    margin: 0;
    display: inline-flex;
}

figure.col a img {
    width: 100%;
}

.box-ed p {
    line-height: 18px;
    font-size: smaller;
}

.box-ed a div.thumb-box img {
    width: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.box-ed a div.thumb-box {
    height: 200px;
    overflow: hidden;
    /*
    border: 1px solid #eee;
    border-radius: 0 0 3px 3px;
*/
    background: #ddd;
    margin-bottom: 10px;
    position: relative;
    border-top: 0;
}

.thumb-destaque a div.thumb-box img {
    width: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.thumb-destaque a div.thumb-box {
    height: 550px;
    overflow: hidden;
    /*    border: 1px solid #eee;*/
    border-radius: 3px;
    position: relative;
}

// #index-banner img {
//     height: 100%;
//     // box-shadow: 0 0 20px #999;
//     border-radius: 3px;
// }


/*CALENDARIO*/

.picker {
    outline: none;
}


/* Optional feature */


/* Header - Day of the week */

.picker__weekday-display {
    background-color: #C62828;
}


/* Body - Today info */

.picker__date-display {
    background-color: #D43C3C;
}


/* Buttons of actions */

.picker__nav--prev:hover {
    background-color: #fff3e0;
}

.picker__nav--next:hover {
    background-color: #fff3e0;
}

.picker__nav--prev:before {
    border-left: 0;
    border-right: 0.75em solid #D43C3C;
}

.picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid #D43C3C;
}

.picker__today {
    color: #C62828;
}

.picker__clear {
    /* If you want to customize */
}

.picker__close {
    color: #C62828;
}

.btn-flat.picker__today:active {
    background-color: #fff3e0;
}

.btn-flat.picker__close:active {
    background-color: #fff3e0;
}

.btn-flat.picker__clear:active {
    background-color: #fff3e0;
}


/* Select months of the year */

.picker__select--month.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 34%;
    border: none;
    outline: none;
}


/* Every month of the year except: today */

.picker__day {
    /* If you want to customize */
}

.picker__day:hover {
    /* If you want to customize */
}


/*
.picker__day--infocus:hover {
    color: #FFF;
    background: #000;
}
*/

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    color: #C62828;
}

.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
    background-color: #F16161;
    color: white;
}


/* Today */

.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted {
    background-color: #C62828;
}

.picker__day.picker__day--today {
    color: #C62828;
}

.article-list .modulettes {
    margin-top: -20px
}

.article-list section .modulettes {
    margin-top: 0;
    margin-bottom: 20px
}

.article-content h4.related {
    margin-top: 0px;
    margin-bottom: 32px;
    color: #757575;
    line-height: 24px;
    font-size: 13px;
    font-weight: 500
}

.article-content .moduleA1 h4.related,
.article-content .moduleA2 h4.related,
.article-content .moduleB1 h4.related,
.article-content .moduleC1 h4.related,
.article-content .moduleD1 h4.related,
.article-content .moduleE1 h4.related,
.article-content .moduleF1 h4.related {
    margin-top: 48px
}

.modulettes .modulette {
    display: block;
    margin-bottom: 24px
}

.modulettes .modulette .icon {
    float: left;
    height: 24px;
    margin: 0;
    width: auto
}

.modulettes .modulette .download-icon {
    opacity: 0.54
}

.modulettes .modulette .callout-icon {
    opacity: 0.54
}

.modulettes .modulette .info {
    font-size: 13px;
    line-height: 24px;
    margin-left: 40px;
    padding-top: 1px
}

@media screen and (max-width: 1240px) {
    .modulettes .modulette .info {
        font-size: 14px
    }
}

.modulettes .modulette .info .subtitle {
    color: #757575
}

.modulettes .modulette .info .title {
    font-weight: 500;
    font-size: 1.2em;
    color: #666;
    text-transform: uppercase;
}

.modulettes .modulette.default,
.modulettes .modulette.android,
.modulettes .modulette.polymer {
    background-color: rgba(255, 255, 255, 0.7);
    color: #fff;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /*    overflow: auto;*/
}

.modulettes .modulette.default .icon,
.modulettes .modulette.android .icon,
.modulettes .modulette.polymer .icon {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 16px
}

.modulettes .modulette.default .info,
.modulettes .modulette.android .info,
.modulettes .modulette.polymer .info {
    margin-left: 56px;
    background-color: #fff;
    padding: 24px
}

.modulettes .modulette.default .callout-icon {
    opacity: 0.26
}

.modulettes .modulette.android .callout-icon,
.modulettes .modulette.polymer .callout-icon {
    opacity: 1;
    color: #C62828;
}

.nome-caderno {
    font-weight: 500;
    line-height: 30px !important;
    background: #444;
    color: white;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid;
    font-size: smaller;
    text-transform: uppercase;
    height: 30px;
    overflow: hidden;
}

.nome-caderno span {
    display: inline-block;
    width: 100%;
    line-height: 15px;
}

.links-box {
    font-size: 9px;
    height: inherit;
    line-height: 21px;
    padding: 0.2em 1em;
    -webkit-font-smoothing: auto !important;
}

.rating {
    float: left;
    width: 100%;
    text-align: center;
}

.rating > ul {
    list-style: none;
    padding: 0;
    margin: -10px 0 15px;
    height: 16px;
}

.rating > ul > li {
    cursor: pointer;
    background: -webkit-linear-gradient(#999, #666);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}

.rating > ul > li.hover {
    background-position: -25px;
}

.rating > ul > li.active {
    background: -webkit-linear-gradient(#F7EF00, #FFBF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-share {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.btn-share li {
    float: left;
    list-style: none;
    width: 25%;
    overflow: hidden;
    text-align: center;
}

.btn-share li a {
    display: inline-block;
    width: 80%;
    line-height: 50px;
    border-bottom: 3px solid;
    border-radius: 5px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.18);
}

.btn-share li a.facebook {
    background: #3B5998;
    color: #fff;
    border-bottom-color: #2E4677;
}

.btn-share li a.twitter {
    background: #55ACEE;
    color: #fff;
    border-bottom-color: #4992CA;
}

.btn-share li a.google {
    background: #E02F2F;
    color: #fff;
    border-bottom-color: #C52C2C;
}

.btn-share li a.whatsapp {
    background: #85C808;
    color: #fff;
    border-bottom-color: #6FA707;
}

#modal-share,
#modal-share .modal-footer {
    background: transparent;
    box-shadow: none;
    width: 100%;
    float: left;
    height: initial;
}

#modal-share .modal-footer a {
    float: initial;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.07) !important;
}

#modal-busca,
#modal-busca .modal-footer {
    background: transparent;
    box-shadow: none;
    float: left;
    height: initial;
}

#modal-busca .modal-footer a {
    float: initial;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.07) !important;
}

#link-loader {
    display: block;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    z-index: 999;
    top: 0;
}
.loader-ee {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.ed-lock {
    position: relative;
}
.ed-lock div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
}
.ed-lock div i {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.07);
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    margin: -25px;
    left: 50%;
}
.box-visao h2 {
    color: #B71C1C;
    font-size: 25px;
    margin: 0;
    padding: 20px;
}
.box-visao p {
    padding: 0 20px;
}
.box-visao a.btn {
    padding: 0 20px;
}
.box-visao table thead tr th {
    background: #D0D0D0;
    border-radius: 0;
    padding: 10px;
}
.box-visao table tbody tr td {
    padding: 7px;
}
.dados-card {
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    border: 1px dotted #ccc;
    border-radius: 5px;
    padding: 10px;
}
.dados-card i {
    font-size: 35px;
    color: #4178B2;
    margin: -28px auto 0 auto;
    display: block;
    width: 80px;
    background: #f4f4f4;
}
.dados-card span {
    display: inline-block;
    width: 100%;
}
