/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
	min-width: 960px;
	background:#DDD url(../img/bg.png) center top repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	background-position-y: -370px;
	background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	font-family: 'Pontano Sans', arial;
	text-transform: uppercase;
}
/* `Container
----------------------------------------------------------------------------------------------------*/
.corpo {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	/*background:url(../img/bg-corpo.png);*/
	background:rgba(255, 255, 255, 0.6);
}
/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.coluna_1, .coluna_2, .coluna_3, .coluna_4, .coluna_5, .coluna_6, .coluna_7, .coluna_8, .coluna_9, .coluna_10, .coluna_11, .coluna_12 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.corpo .coluna_3 {
	width: 220px;
}
.corpo .coluna_6 {
	width: 460px;
}
.corpo .coluna_9 {
	width: 700px;
}
.corpo .coluna_12 {
	width: 940px;
}
/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}
.omega {
	margin-right: 0;
}
.m-topo {
	margin-top:10px;
}
.m-base {
	margin-bottom:10px;
}
/* Colunas >> 12 Colunaas
----------------------------------------------------------------------------------------------------*/

.corpo .coluna_1 {
	width: 60px;
}
.corpo .coluna_2 {
	width: 140px;
}
.corpo .coluna_4 {
	width: 300px;
}
.corpo .coluna_5 {
	width: 380px;
}
.corpo .coluna_7 {
	width: 540px;
}
.corpo .coluna_8 {
	width: 620px;
}
.corpo .coluna_10 {
	width: 780px;
}
.corpo .coluna_11 {
	width: 860px;
}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before, .clearfix:after, .corpo:before, .corpo:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after, .corpo:after {
	clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix, .corpo {
	zoom: 1;
}

/* TOPO */

.logo {
	padding:20px;
	float:left;
}
.clubes {
	float: right;
	background: url(../img/bg-clubes.png) no-repeat center;
	height: 200px;
	width: 274px;
	margin: 0 10px;
}
.menu {
	float:left;
	width:940px;
	background:#1F7C5D;
	height: 50px;
	overflow: hidden;
	border-radius: 5px;
}
.menu li {
	float:left;
	border-right:1px solid #238E6A;
	height:50px;
}
.menu li:hover {
	background:#19674D;
}
.menu li a {
	float: left;
	padding: 16px 21px;
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Pontano Sans', arial;
	text-transform:uppercase;
}
.menu-home {
	padding:0 !important;
}
/* CORPO */
.banner {
	background: #fff url(../img/bg-bn.jg) no-repeat;
	height: 251px;
	border-radius: 5px;
	overflow: hidden;
}
.banner h1 {
	font-size: 35px;
	text-align: center;
	background: #1F7C5D url(../img/bg.png);
	padding: 10px 0;
	color: #fff !important;
	text-transform: none;
}
.banner p {
	font-size: 20px;
	text-align: center;
	padding: 10px 0;
	line-height: 35px;
	color: #666;
}
.banner a {
	font-size: 18px;
	text-align: center;
	background: #1F7C5D;
	padding: 15px 50px;
	color: white;
	text-decoration: none;
	font-family: 'Pontano Sans', arial;
	border-radius: 5px;
}
.bt-banner {
	float: left;
	width: 620px;
	margin: 22px 0;
}
.titulo {
	height:40px;
	background:#1F7C5D;
	margin-bottom:1px;
	text-transform:uppercase;
}
.titulo h1 {
	float: left;
	color: white;
	padding: 13px 10px;
	font-size: 13px;
}
.titulo h2 {
	float: right;
	text-align: right;
	font-size: 10px;
	padding: 8px 10px;
	color: white;
	opacity: 0.5;
}
.conteudo {
	background:#fff;
	color:#666;
}
.conteudo p {
	color:#666;
	margin:10px;
	font-size:13px
}
.classificacao {
	float:left;
	color:#1F7C5D;
}
.classificacao li {
	float:left;
	padding:6px 0;
	margin:0 10px;
	border-bottom:1px dotted #ccc;
	width:280px;
}
.classificacao li:last-child {
	border-bottom:none;
}
.classificacao li h1 {
	float:left;
	font-size:12px;
	text-transform:none;
}
.classificacao li h2 {
	float:right;
	font-size:12px;
	text-align:right;
	font-weight:bold;
	text-transform:none;
}
.banner2 {
	background:url(../img/bg-bn2.jpg) no-repeat;
	width:300px;
	float:left;
	height:72px;
	color:#196B50;
}
.banner2 h1 {
	float:left;
	font-size:17px;
	padding: 10px 0 0 10px;
	text-transform:none;
}
.banner2 h2 {
	float:left;
	font-size:14px;
	padding: 6px 0 0 10px;
	text-transform:none;
}
.banner-1 {
	background:url(../img/banner1.jpg) no-repeat;
	height:150px;
	float: left;
	text-decoration: none;
}
.banner-1 h1 {
	color:#FFF;
	font-size:20px;
	padding: 10px 13px;
}
.banner-1 p {
	color: #222;
	font-size: 17px;
	padding: 25px 30px 0px 13px;
	line-height: 21px;
}
.banner-2 {
	background:url(../img/banner3.jpg) no-repeat;
	height:150px;
	float: left;
	text-decoration: none;
}
.banner-2 h1 {
	color:#FFF;
	font-size:20px;
	padding: 10px 13px;
}
.banner-2 p {
	color: #FFF;
	font-size: 16px;
	padding: 9px 90px 0px 13px;
	line-height: 20px;
}
.banner-3 {
	background:url(../img/banner2.jpg) no-repeat;
	height:150px;
	float: left;
	text-decoration: none;
}
.banner-3 h1 {
	color:#FFF;
	font-size:20px;
	padding: 10px 13px;
}
.banner-3 p {
	color: #333;
	font-size: 15px;
	padding: 9px 12px 0px 13px;
	line-height: 20px;
}
.parceiros {
	background:#238E6A;
	padding:5px;
	margin:10px;
	float:left;
	border-radius: 5px;
	overflow: hidden;
}
.parceiros a {
	margin:5px;
	float:left;
	border-radius: 5px;
	overflow: hidden;
}
.patrocinio {
	background:url(../img/bg-patrocinio.jpg?v=4) no-repeat;
	width:960px;
	height:77px;
	margin: 20px auto;
	border-radius: 5px;
	overflow: hidden;
}
/* INTERNAS */
.div-clipping {
	float:left;
	border-bottom: 1px dotted #999;
}
.div-clipping h1 {
	color:#666666;
	margin:10px;
}
.table-ran {
	float:left;
	width:600px;
	margin:10px;
}
.table-ran tr td {
	background:#ddd;
	padding:10px;
	color:#666;
	font-size:12px;
	border-radius: 5px;
}
.title-table {
	background:#bbb !important;
}
.title-table h1 {
	font-size:14px;
}
/*.table-td {
	background:#fff !important;
}
*/.h1-ganhadores {
	text-align: center;
	float: left;
	background: #bbb;
	width: 920px;
	color: #333;
	padding: 10px 0;
	margin: 10px 10px 0 10px;
	border-radius: 5px;
}
.list-ganhadores {
	float:left;
	padding:5px;
	width:930px;
}
.list-ganhadores li {
	float:left;
	width:300px;
	margin:5px;
	background:#EEE;
	border-radius:5px;
}
.list-ganhadores li p {
	float: left;
	max-width: 225px;
	padding: 10px;
	background: none;
	margin: 0;
	color:#666;
}
.list-acoes {
	float:left;
	padding:5px;
	width:930px;
}
.list-acoes li {
	float:left;
	margin:5px;
	width:300px;
}
.list-acoes li p {
	position: absolute;
	padding: 10px;
	width: 280px;
	background: black;
	color: white;
	opacity: 0.8;
	margin: 165px 0 0 0;
	height: 40px;
	overflow:hidden;
	border-radius:5px;
}
.onde-votar h1 {
	color: #666666;
	margin: 10px;
	font-weight: bold;
}
.form-falecon {
	float:left;
	margin:10px;
	width:600px;
	font-size:13px
}
.form-falecon h1 {
	float:left;
	font-size:15px;
	font-weight:bold;
}
.form-falecon  > div {
	float:left;
	width:600px;
	padding:5px 0 0;
}
.form-fale {
	float:left;
	padding:5px;
	height:25px;
	background:#FFF;
	border:1px solid #999;
	width:300px
}
.form-fale-txt {
	float:left;
	padding:5px;
	height:150px;
	background:#FFF;
	border:1px solid #999;
	width:300px
}
.bt-falecon {
	padding:10px 30px;
	background:#666666;
	color:#FFF;
	font-family: 'Pontano Sans', arial;
	border:none;
	font-size:16px;
	float:left;
	margin-top:10px;
	cursor:pointer;
}
.table-apu {
	float:left;
	width:920px;
	margin:10px;
}
.table-apu tr td {
	background:#ddd;
	padding:10px;
	color:#666;
	text-align:center;
	font-size:10px;
	border-radius: 5px
}
.table-cam {
	float:left;
	width:455px;
	margin:5px;
}
.table-cam tr td {
	background:#999;
	padding:10px;
	color:#FFF;
	text-align:center;
	font-size:11px;
}
.div-cam {
	float:left;
	width:455px;
	padding:5px;
}
.img-clube1 {
	float:left;
	margin: -5px 0;
}
.img-clube2 {
	float:right;
	margin: -5px 0;
}
.bt-votacao {
	padding:10px 30px;
	background:#CCC;
	color:#666;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Pontano Sans', arial;
	float:left;
	margin: 0 345px;
}
.select-vot {
	float:left;
	width:280px;
	height:25px;
	background-color:#FFF;
	color:#666;
	border: 1px solid #ccc;
	text-transform: uppercase;
}
/*.td-es {
	background:url(../img/bg-es.png) !important;
}*/
.bg-video {
	text-align:center;
	float:left;
	background:#000;
	width:940px;
	color:#FFF;
	padding: 30px 0;
}
#list-videos {
	float:left;
	width:930px !important;
	margin: 5px;
}
#list-videos ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float:left;
}
#list-videos li {
	float:left;
	width:300px;
	opacity:0.8;
	overflow: hidden;
	margin:5px;
}
#list-videos li:hover {
	opacity:1;
	cursor:pointer;
}
#list-videos li a {
	float: left;
	padding: 0px;
	background: #238E6A;
	margin: 0;
	color: #1F7C5D;
	text-decoration: none;
	text-transform: uppercase;
}
#list-videos li a p {
	float: left;
	padding: 0px;
	margin: 10px;
	color: #fff;
	font-size: 13px;
	height: 19px;
	overflow: hidden;
}
#list-videos li a img {
	float: left;
	background: #ccc;
}
#list-videos li a span {
	float: left;
	width: 260px;
	padding: 10px;
	margin: 0 10px 10px 10px;
	text-align: center;
	background: #fff;
	color: #1F7C5D;
	border-radius: 5px;
}
/* RODAPÃ‰ */
.rodape {
	background:#238E6A;
	height:45px;
}
.corpo-rodape {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	background:url(../img/bg-corpo.png);
}
.menu-rodape {
	float:left;
	width:950px;
	padding: 5px;
}
.menu-rodape li {
	float:left;
	height:35px;
}
.menu-rodape li:hover {
	background:#19674D;
	border-radius: 5px;
	overflow: hidden;
}
.menu-rodape li a {
	float: left;
	padding: 9px 20px;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	font-family: 'Pontano Sans', arial;
	text-transform: uppercase;
	border-radius: 5px;
	overflow: hidden;
}
.menu-rodape-home {
	padding:0 !important;
}
.link-rodape {
	color:#1F7C5D;
}
.banner-app {
	background:#fff;
	width:100%;
	height:70px;
	overflow:hidden;
	border-radius: 5px;
}
.banner-app ul {
	float:left;
}
.banner-app ul li {
	float:left;
}
.banner-app-txt {
	padding: 10px 30px;
	text-align: center;
	width: 480px;
	color: #666;
	font-size: 13px;
	line-height: 17px;
	font-family: 'Pontano Sans', arial;
	text-transform: uppercase;
}
.banner-app-txt strong {
	font-weight:bold;
	color:#1F7C5D;
}
.banner-app-bts {
	padding:5px;
}
.banner-app-bts a {
	float:left;
	margin:5px;
	border-radius: 5px;
	overflow: hidden;
}
.bn-placa {
	background:#EEE;
	width:100% !important;
	height:70px;
	overflow:hidden;
}
.bn-placa ul {
	float:left;
	margin:0px;
}
.bn-placa ul li {
	float:left;
}
.bn-placa-txt {
	padding: 10px 30px;
	text-align: center;
	width: 660px;
	color: #666;
	font-size: 14px;
	line-height: 17px;
	font-family: 'Pontano Sans', arial;
	text-transform: uppercase;
}
.bn-placa-txt strong {
	font-weight:bold;
	color:#1F7C5D;
}
.bn-placa-bt {
	padding:5px;
}
.bn-placa-bt a {
	float: left;
	margin: 5px;
	padding: 16px 0 0 0;
	width: 150px;
	height: 34px;
	background: #1F7C5D;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.bn-memoria {
	background:#fff;
	height:70px;
	overflow:hidden;
	border-radius: 5px;
}
.bn-memoria ul {
	float:left;
	margin:0px;
}
.bn-memoria ul li {
	float:left;
}
.bn-memoria-tlt {
	padding: 12px 20px;
	text-align: center;
	width: 120px;
	color: #fff;
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
	background: #238E6A;
}
.bn-memoria-txt {
	padding: 10px 30px;
	text-align: center;
	width: 550px;
	color: #666;
	font-size: 13px;
	line-height: 25px;
	text-transform: uppercase;
}
.bn-memoria-txt h1 {
	font-size: 18px;
}
.bn-memoria-txt strong {
	font-weight:bold;
	color:#1F7C5D;
}
.bn-memoria-bt {
	padding:5px;
}
.bn-memoria-bt a {
	margin: 5px;
	float: left;
	background: #1F7C5D;
	padding: 15px 30px;
	font-family: 'Pontano Sans', arial;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	width: 90px;
	text-align: center;
	border-radius: 5px;
}
.ifcapt{
    float: right;
    height: 50px;
    overflow: hidden;
    width: 100%;
}
#tabela table {
	float: left;
	width: 921px;
	margin: 10px;
}
#tabela table tr td {
	background: #ddd;
	padding: 10px;
	color: #666;
	text-align: center;
	font-size: 12px;
}
.border-radius {
	border-radius: 5px;
	overflow: hidden;
}
input, textarea, select {
	border-radius: 5px;
	border: 1px solid #667 !important;
}
.TrImpar td {
	background: #1F7C5D !important;
	color: #fff !important;
	font-weight: bold;
}
.TrPar td {
	background: #555 !important;
	color: #fff !important;
}
.TrPar td p {
	margin: 0;
	color: #fff !important;
}