html{
	background: #FFF;
}
body{
	background: url("/img/bg_login.jpg") bottom repeat-x;
	height: 100%;
	margin: 0;padding: 0;
}
/*div{border:1px solid red;}*/
#CON_LOGIN{
	margin: 0 auto;
}
#CON_LOGIN_AUX{
	background: green;
	width: 382px;
	height: 215px;
	margin-top: 240px;
	background: url("/img/content_login.jpg") bottom no-repeat;
	position: relative;
}
#FORM{
	padding: 25px 0 0 0;
}
#formLogin fieldset{
	margin-top: 15px;
	width: 300px;
}
#formLogin td{
	padding: 3px;
}


.LogoAdm {
	position: absolute;
	top: -180px;
	left: 70px;
}