body {
	color: #FFF;
}
.section-placar {
	//display:none;
}
.section-social svg{
	max-width: 50%;
}
.laranja, .laranja a {
	color: #F9A519
}
.tit-placar {
	text-align: center;
	color: #F9A519;
	border-top: 5px solid #F9A519;
	font-size: 1.6em;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
}
.listagem {

}
#listagem-jogos {

}
.listagem-item {
	text-align: center;
	border-bottom: 1px solid #111;
	padding:15px 0;
}
#listagem-jogos li:last-child {
	border-bottom: 0;
}
.item-placar {
	font-size:12px;
}
.item-placar img {
	box-shadow:0;
	width: 30px !important;
	margin: 0 5px;
}
.clube-casa {
	// float:left;
	// width:45%;
}

.clube-casa span {
	// display: inline-block;
	// text-align: right !important;
}
.clube-fora {
	// float:left;
	// width:45%;

}
.vs {
	// float:left;
	// width:5%;
	// min-height:36px;
}
.vs div {
	text-align: center;
	margin: 0 auto;
}
.clube_gol{
	color: #F9A519;
	font-size:1.6em;
}
.situacao_jogo {
	//color: #F9A519
}
.jogo-campeonato {font-size: 1.4em;}
.jogo-data {
	color: #F9A519
}
.jogo-local {
	font-size:0.8em;
	color:#666;
}
.item-placar {
	margin: 10px auto;
}
.wrapper-box {
	background: #333333;
	//padding:20px 0 !important;
}

#adBottom {
	left:0;
	position: fixed;
	text-align:center;
	bottom: 0px;
	width:100%;
	z-index:999;
}
