<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <meta name="theme-color" content="#000000">

		<meta property="og:title" content="Rádio Clube do Pará - Rádio Online"/>
		<meta property="og:image" content="http://radioclubedopara.com.br/img/radio_online.png"/>
		<meta property="og:site_name" content="Rádio Clube do Pará"/>
		<meta property="og:description" content="Ouça a Rádio Clube do Pará de seu celular ou tablet."/>

        <title>Rádio Clube do Pará - Ouça a Rádio Clube do Pará de seu celular ou tablet.</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="css/ee.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="css/radioclube.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link rel="stylesheet" href="css/rrssb.css" />

        <!-- <link href="css/default-skin/default-skin.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->
        <!-- <link href="css/font-awesome.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->
        <!-- FAVICON -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="img/ico/favicon.png">

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.5/angular-sanitize.min.js"></script>
        <script src="js/app.js"></script>
</head>

<body>
<div class="navbar">
    <nav class="white op9" role="navigation">
        <div class="nav-wrapper container">

            <a id="logo-container" href="index.php" class="brand-logo center"><img src="img/logo.png" width="100%" alt=""></a>

        </div>
    </nav>
</div>
<div id="index-banner" class="z-depth-1">
    <div class="p0">
        <div class="container">
            <div class="row mb0 pt20 thumb-destaque center">
            		<div ng-controller="ouvintesOnline" ng-show="comOuvintes" ng-cloak>{{ouvintes}} ouvintes online</div>
                    <div class="thumb-box pt20">
                        <audio id="audio" controls="controls" autoplay>
                            <source src="http://strrba.net2.com.br:8100/;stream.mp3" type="audio/mpeg">
                            Seu navegador não dá suporte ao nosso player de áudio. Favor acesse de um dispositivo mais moderno. Por exemplo: Firefox, Google Chrome, Safari, Opera.
                        </audio>
                    </div>
            </div>
        </div>
    </div><!-- /.section -->
    <div class="section-social  mt20">
    	<div class="container">
    		<div class="row">
				<ul class="rrssb-buttons rrssb-1">
					<li class="rrssb-facebook small" data-initwidth="6.25" data-size="68" style="width: calc(10% - 25.2px);">
					<!--  Replace with your URL. For best results, make sure you page has the proper FB Open Graph tags in header:
					      https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/ -->
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.radioclubedopara.com.br/webapp/" class="popup">
					  <span class="rrssb-icon">
					    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"></path></svg>
					  </span>
					  <span class="rrssb-text">facebook</span>
					</a>
					</li>
					<li class="rrssb-whatsapp small" data-initwidth="6.25" data-size="67" style="width: calc(10% - 25.2px);">
					<a href="whatsapp://send?text=Ridiculously%20Responsive%20Social%20Sharing%20Buttons%20by%20%40dbox%20and%20%40joshuatuscan%3A%20http%3A%2F%2Fkurtnoble.com%2Flabs%2Frrssb%20%7C%20http%3A%2F%2Fkurtnoble.com%2Flabs%2Frrssb%2Fmedia%2Frrssb-preview.png" data-action="share/whatsapp/share">
					  <span class="rrssb-icon">
					    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 90 90"><path d="M90 43.84c0 24.214-19.78 43.842-44.182 43.842a44.256 44.256 0 0 1-21.357-5.455L0 90l7.975-23.522a43.38 43.38 0 0 1-6.34-22.637C1.635 19.63 21.415 0 45.818 0 70.223 0 90 19.628 90 43.84zM45.818 6.983c-20.484 0-37.146 16.535-37.146 36.86 0 8.064 2.63 15.533 7.076 21.61l-4.64 13.688 14.274-4.537A37.122 37.122 0 0 0 45.82 80.7c20.48 0 37.145-16.533 37.145-36.857S66.3 6.983 45.818 6.983zm22.31 46.956c-.272-.447-.993-.717-2.075-1.254-1.084-.537-6.41-3.138-7.4-3.495-.993-.36-1.717-.54-2.438.536-.72 1.076-2.797 3.495-3.43 4.212-.632.72-1.263.81-2.347.27-1.082-.536-4.57-1.672-8.708-5.332-3.22-2.848-5.393-6.364-6.025-7.44-.63-1.076-.066-1.657.475-2.192.488-.482 1.084-1.255 1.625-1.882.543-.628.723-1.075 1.082-1.793.363-.718.182-1.345-.09-1.884-.27-.537-2.438-5.825-3.34-7.977-.902-2.15-1.803-1.793-2.436-1.793-.63 0-1.353-.09-2.075-.09-.722 0-1.896.27-2.89 1.344-.99 1.077-3.788 3.677-3.788 8.964 0 5.288 3.88 10.397 4.422 11.113.54.716 7.49 11.92 18.5 16.223 11.01 4.3 11.01 2.866 12.996 2.686 1.984-.18 6.406-2.6 7.312-5.107.9-2.513.9-4.664.63-5.112z"></path></svg>
					  </span>
					  <span class="rrssb-text">Whatsapp</span>
					</a>
					</li>
					<li class="rrssb-twitter small" data-initwidth="6.25" data-size="54" style="width: calc(10% - 25.2px);">
					<!-- Replace href with your Meta and URL information  -->
					<a href="https://twitter.com/intent/tweet?text=http://www.radioclubedopara.com.br/webapp/%2Fmedia%2Fhttp://radioclubedopara.com.br/img/radio_online.png" class="popup">
					  <span class="rrssb-icon">
					    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"></path></svg>
					  </span>
					  <span class="rrssb-text">twitter</span>
					</a>
					</li>
					<li class="rrssb-googleplus small" data-initwidth="6.25" data-size="59" style="width: calc(10% - 25.2px);">
					<!-- Replace href with your meta and URL information.  -->
					<a href="https://plus.google.com/share?url=Ouça a rádio clube%20http://www.radioclubedopara.com.br/webapp/" class="popup">
					  <span class="rrssb-icon">
					    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 8.29h-1.95v2.6h-2.6v1.82h2.6v2.6H21v-2.6h2.6v-1.885H21V8.29zM7.614 10.306v2.925h3.9c-.26 1.69-1.755 2.925-3.9 2.925-2.34 0-4.29-2.016-4.29-4.354s1.885-4.353 4.29-4.353c1.104 0 2.014.326 2.794 1.105l2.08-2.08c-1.3-1.17-2.924-1.883-4.874-1.883C3.65 4.586.4 7.835.4 11.8s3.25 7.212 7.214 7.212c4.224 0 6.953-2.988 6.953-7.082 0-.52-.065-1.104-.13-1.624H7.614z"></path></svg>            </span>
					  <span class="rrssb-text">google+</span>
					</a>
					</li>


				</ul>
    		</div><!-- /row -->
    	</div>

    </div>

    <div class="section-placar" ng-controller="tabelaJogos" ng-cloak>
    	<div class="container">
    		<div class="row">
	    		<h2 class="tit-placar" style="position:relative">Placar<img src="img/bt-refresh.png" style="position:absolute; right:0;" id="bt-refresh" ng-click="loadData()"></h2>
	    		<div class="col s12 wrapper-box">
	    			<div class="row">
	    				<div class="col s12 m6 l6 offset-m3 offset-l3">
	    					<div ng-show="!semPlacar" class="center-align">
	    						<span>{{semPlacarMsg}}</span>
	    					</div>
				    		<ul class="listagem" id="listagem-jogos" ng-show="!semPlacar">
				    			<li ng-repeat="jogo in jogos" class="listagem-item">
									<div class="situacao-jogo" >{{jogo.situacao_jogo}}</div>
									<div class="jogo-campeonato">{{jogo.campeonato}}</div>
									<div class="jogo-data">{{jogo.data}} {{jogo.hora}}</div>
									<div class="jogo-local">{{jogo.local}}</div>
									<div class="item-placar">
										<!-- <span class="clube-casa valign-wrapper"> -->
											<span class="clube_nome">{{jogo.clube_casa_nome}}</span>
											<span class="clube_img"><img ng-src="{{jogo.clube_casa_img}}"></span>
											<span class="clube_gol">{{jogo.clube_casa_gol}}</span>
										<!-- </span> -->
										<!-- <span class="vs valign-wrapper"> -->
											<span>X</span>
										<!-- </span> -->
										<!-- <span class="clube-fora valign-wrapper"> -->
											<span class="clube_gol">{{jogo.clube_fora_gol}}</span>
											<span><img ng-src="{{jogo.clube_fora_img}}"></span>
											<span>{{jogo.clube_fora_nome}}</span>
										<!-- </span> -->
										<div class="clearfix"></div>
									</div>

									<div class="information" ng-bind-html="jogo.info"></div>
							    </li>

				    		</ul>
				    		</div><!-- /col -->
		    		</div><!-- row -->
		    		</div><!-- /col -->
	    	</div>

    	</div><!-- /container -->
    </div><!-- /.section -->
<!--     <div class="parallax">
        <div class="efeito-parallax"></div>
        <img src="http://www.radioclubedopara.com.br/img/clubes-bg.jpg">
    </div> -->
</div><!-- /parallax-container -->
<div id="adBottom">
	<script type='text/javascript'><!--//<![CDATA[
	   var m3_u = (location.protocol=='https:'?'https://www.gruporba.com.br/openxpub/www/delivery/ajs.php':'http://www.gruporba.com.br/openxpub/www/delivery/ajs.php');
	   var m3_r = Math.floor(Math.random()*99999999999);
	   if (!document.MAX_used) document.MAX_used = ',';
	   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
	   document.write ("?zoneid=341");
	   document.write ('&amp;cb=' + m3_r);
	   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
	   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
	   document.write ("&amp;loc=" + escape(window.location));
	   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
	   if (document.context) document.write ("&context=" + escape(document.context));
	   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
	   document.write ("'><\/scr"+"ipt>");
	//]]>--></script><noscript><a href='http://www.gruporba.com.br/openxpub/www/delivery/ck.php?n=a2f1a6b3&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://www.gruporba.com.br/openxpub/www/delivery/avw.php?zoneid=341&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a2f1a6b3' border='0' alt='' /></a></noscript>
</div><!-- /adBottom -->
<footer class="page-footer black p0">
    <div class="footer-copyright">
        <div class="container center">
            <span class="grey-text text-darken-1">Rádio Clube do Pará | © Copyright 2016 RBA</span>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="js/jquery.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.modal-rec').leanModal();
        var audio = document.getElementById('audio');
        $(".stopBtn").click(function () {
            audio.pause();
            audio.currentTime = 0;
        });
        $(".playBtn").click(function () {
            audio.play();
        });
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".stopBtn").click(function () {
            audio.pause();
            audio.currentTime = 0;
        });

		$snippets = $('.information');
		$('a').on('click', function () {
		    $.each($snippets, function (index, obj) {
		        var $this = $(this);
		        $this.text($this.html());
		    });
		});

    });

</script>
<script src="js/rrssb.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#bt-refresh").click(function(){
			AnimateRotate(360);
		});
	});



	function AnimateRotate(d){
	  var elem = $("#bt-refresh");

	  $({deg: 0}).animate({deg: d}, {
	      duration: 2000,
	      step: function(now){
	          elem.css({
	               transform: "rotate(" + now + "deg)"
	          });
	      }
	  });
	}
</script>

</body>

</html>
